---
import BaseLayout from "../layouts/BaseLayout.astro";
import TimeLineElement from "../components/cv/TimeLine.astro";
---

<BaseLayout title="Resume" sideBarActiveItemID="cv">
  <div
    class="mx-auto print:prose-xs print:leading-tight print:space-y-2 print:m-6 print:pb-10"
  >
    <div class="mb-5 print:mb-2">
      <div class="mb-10 print:hidden flex justify-end">
        <button
          class="px-4 py-2 bg-blue-500 text-white rounded hover:bg-blue-700"
          onclick="window.print()"
        >
          Print PDF
        </button>
      </div>
      <div class="text-3xl w-full font-bold print:text-xl">Overview</div>
    </div>

    <div class="mb-10 text-justify print:mb-4">
      <p class="text-lg">
        I have the pleasure of serving as a Nanny in the Brambleton community
        and surrounding areas. I specialize in caring for newborns up to 5 years
        old, with over 15 years of experience. I hold active <b>Infant and Child
          CPR</b> and <b>Emergency Care</b> certificates, and I am fully vaccinated with
        Pfizer.
      </p>
      <br>
      <p class="text-lg">
        I pride myself on becoming a true part of the family. I prefer to
        support the family with a long-term relationship, as I truly enjoy
        becoming an integral part of the family.
      </p>
      <br>
      <p class="text-lg">
        I support the family with daily care, weekend support, and
        ‘date-nights,’ as well as enrichment activities, external activities,
        and day-to-day tasks around the home.
      </p>

    <div class="mb-5 print:mb-2">
      <div class="text-3xl w-full font-bold print:text-xl">Experience</div>
    </div>

    <div
      class="time-line-container mb-10 space-y-2 print:space-y-2 print:mb-10"
    >
      <TimeLineElement
        title="Full-Time Nanny"
        subtitle="From January 2024 to November 2024 with The Manning Family, Ashburn, VA"
      >
        <ul class="list-disc mx-6 print:mx-4">
          <li>Care for their daughter in her daily needs.</li>
          <li>Support the family in daily childcare chores and meals.</li>
        </ul>
      </TimeLineElement>
      <TimeLineElement
        title="Full-Time Nanny"
        subtitle="From January 2023 to September 2023 with The McCormick Family, Sterling, VA"
      >
        <ul class="list-disc mx-6 print:mx-4">
          <li>Care for their daughter (14 months) and newborn son.</li>
          <li>Support the family in daily childcare chores and meals.</li>
          <li>
            Work with both children in learning, play outside and support
            well-being through outdoor walks, parks, and playdates.
          </li>
          <li>
            Help around the house to keep the kids’s toys, clothes, and
            nick-nacks contained.
          </li>
        </ul>
      </TimeLineElement>
      <TimeLineElement
        title="Full-Time Nanny"
        subtitle="From September 2020 to December 2022 at The Williams Family, Broadlands, VA"
      >
        <ul class="list-disc mx-6 print:mx-4">
          <li>
            Cared for their daughter from 4 months old until almost 3 years old.
          </li>
          <li>
            Helped develop daily activity and development plans for positive and
            enriching skill building.
          </li>
          <li>Daily walks in the park, outdoor activities, and walks.</li>
          <li>
            Helped in growth of socialization, interaction & communication
            skills for preparation to pre-kindergarten and kindergarten.
          </li>
        </ul>
      </TimeLineElement>
      <TimeLineElement
        title="Full-Time Nanny"
        subtitle="From January 2015 to July 2020 at The Colatosti Family, Brambleton, VA"
      >
        <ul class="list-disc mx-6 print:mx-4">
          <li>
            Cared for their daughter from the day she was born until they had to
            move to Boston.
          </li>
          <li>
            Helped and grew with them as a family, driving, walking, and running
            with their daughter to activities, dance, swim class, school,
            events, playdates, and almost every aspect of her life for over five
            years.
          </li>
          <li>
            Developed deep trust and love with the family and their daughter was
            on my hip every day no matter where the day took us.
          </li>
        </ul>
      </TimeLineElement>
      <!-- <TimeLineElement
        title="Full-Time Nanny"
        subtitle="From January 2013 to December 2014 at The Hines Family, Brambleton, VA"
      >
        <ul class="list-disc mx-6 print:mx-4">
          <li>
            Cared for their daughter from the day she was born supporting the
            family with daily tasks.
          </li>
        </ul>
      </TimeLineElement> -->
    </div>

    <div class="mb-5 print:mb-10 print:mt-10">
      <div class="text-3xl w-full font-bold print:text-xl">
        Training & Certifications
      </div>
    </div>

    <ul class="list-disc mx-6 mb-10 grid gap-2 print:mx-4 print:mb-4">
      <li>Infant & Child CPR</li>
      <li>Emergency Care Certificate</li>
      <li>Current Virginia Drives’s License</li>
    </ul>

    <div class="mb-5 print:mb-2">
      <div class="text-3xl w-full font-bold print:text-xl">Education</div>
    </div>

    <ul class="list-disc mx-6 mb-10 grid gap-2 print:mx-4 print:mb-4">
      <li>
        <div class="font-bold text-lg">Central Escolar High School</div>
        <div class="text-sm text-gray-600">
          2000 to 2004, San Salvador, El Salvador
        </div>
      </li>
    </ul>

    <div class="mb-5 print:mb-2">
      <div class="text-3xl w-full font-bold print:text-xl">Languages</div>
    </div>

    <ul class="list-disc mx-6 mb-10 grid gap-2 print:mx-4 print:mb-4">
      <li>Spanish</li>
      <li>English</li>
    </ul>

    <div class="mb-5 print:mb-2">
      <div class="text-3xl w-full font-bold print:text-xl">Skills</div>
    </div>

    <ul
      class="list-disc columns-2 mx-6 mb-10 gap-2 sm:columns-1 print:columns-1 print:mx-4 print:mb-4 leading-relaxed sm:leading-normal"
    >
      <li>Learning through Play & Activities</li>
      <li>Emotionally Supportive</li>
      <li>Long-Term Relationships</li>
      <li>New-Born & Infants (0-6)</li>
      <li>Active Enrichment Actives</li>
      <li>Family Orientated</li>
    </ul>

    <div class="mb-5 print:mb-2">
      <div class="text-3xl w-full font-bold print:text-xl">References</div>
      <p class="print:mb-4">
        References' contact information is available upon request.
      </p>
    </div>

    <ul class="list-disc mx-6 mb-10 grid gap-2 print:mx-4 print:mb-4">
      <li>Amber Colatosti</li>
      <li>Saralyn Williams</li>
      <li>Melissa McCormick</li>
    </ul>
  </div>
</BaseLayout>
