---
const { sideBarActiveItemID } = Astro.props;
const activeClass = "bg-base-300"; // For primary color replace with `active` class
---

<div class="px-4 pb-5 pt-1 print:block p-2 bg-base-200">
    <p class="text-lg font-semibold">Carmelina Ayala</p>
    <p class="text-sm">
        <a href="https://maps.google.com/?q=23661+Sailfish+Square,+Brambleton,+VA+20148" target="_blank" class="text-blue-500 hover:underline">
          23661 Sailfish Square, Brambleton, VA 20148
        </a>
      </p>
      <p class="text-sm">
        <a href="tel:+17038629240" class="text-blue-500 hover:underline">
          703-862-9240
        </a>
      </p>
      <p class="text-sm">
        <a href="mailto:carmelinaayalapineda@gmail.com" class="text-blue-500 hover:underline">
          carmelinaayalapineda@gmail.com
        </a>
      </p>
  </div>

<script define:vars={{ sideBarActiveItemID: sideBarActiveItemID, activeClass: activeClass }}>
const activeItemElem = document.getElementById(sideBarActiveItemID);
activeItemElem && activeItemElem.classList.add(activeClass);
</script>