---
const today = new Date();
---

<noscript>
  <style>
    #back-to-top { display: none; }
  </style>
</noscript>

<footer class="footer footer-center text-base-content py-6 print:hidden">
  <button id="back-to-top" class="btn btn-outline m-4" onclick='window.scrollTo({top: 0, behavior: "smooth"});'>Back to Top</button>
  <div class="container mx-auto px-4">
    <div class="pb-2">
      <p class="text-sm">
        &copy; {today.getFullYear()} Carmelina Ayala
      </p>
      <!-- <p class="text-sm">
        <a href="https://maps.google.com/?q=23661+Sailfish+Square,+Brambleton,+VA+20148" target="_blank" class="text-blue-500 hover:underline">
          23661 Sailfish Square, Brambleton, VA 20148
        </a>
      </p>
      <p class="text-sm">
        <a href="tel:+17038629240" class="text-blue-500 hover:underline">
          703-862-9240
        </a>
      </p>
      <p class="text-sm">
        <a href="mailto:carmelinaayalapineda@gmail.com" class="text-blue-500 hover:underline">
          carmelinaayalapineda@gmail.com
        </a>
      </p> -->
    </div>
  </div>
</footer>

<script is:inline>
  function init() {
    const doc = document.documentElement;
    const backToTopButton = document.getElementById("back-to-top");

    if (doc.clientHeight >= doc.scrollHeight - 75) {
      backToTopButton.style.display = "none";
    } else {
      backToTopButton.style.display = "block";
    }
  }

  init();

  document.addEventListener("astro:after-swap", init);
</script>